<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wolas.awesomewallpaper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".AwesomeWallpaperService"
            android:enabled="true"
            android:label="Awesome Live Wallpaper"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper"></meta-data>
        </service>
        <activity android:name="com.wolas.awesomewallpaper.SettingsActivity"
            android:label="Livewallpaper Settings"
            android:exported="true">
        </activity>
    </application>
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true"></uses-feature>

</manifest>
